{
    "extends": ["plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "ignorePatterns": ["node_modules/"],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-undef":"off",
        "no-unused-vars":"off"
    }

}