@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: domaine;
  font-weight: 400;
  src: url(./assets/fonts/DomaineDispNar-Medium.woff);
}
@font-face {
  font-family: domaine;
  font-weight: 500;
  src: url(./assets/fonts/DomaineDispNar-Regular.woff);
}
@font-face {
  font-family: domaine;
  font-weight: 600;
  src: url(./assets/fonts/DomaineDispNar-Semibold.woff);
}