@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: made;
  font-weight: 300;
  src: url(./assets/fonts/made_light.otf);
}
@font-face {
  font-family: made;
  font-weight: 400;
  src: url(./assets/fonts/made_regular.otf);
}

@font-face {
  font-family: made;
  font-weight: 500;
  src: url(./assets/fonts/made_medium.otf);
}


.btn-primary{
  @apply border border-black px-10 py-3.5 text-center transition duration-500 hover:bg-gray hover:text-white hover:transition hover:ease-in-out hover:duration-500
}

.title{
  @apply text-6xl tracking-wider text-gray font-domaine font-normal
}

.item{
  width: calc(100% / 6.8);
  margin-right:3%
}

.item img{
  margin: 0 auto;
}